@font-face {
    font-family: 'FrenchFries';
    src: url("../font/McDonald’s_Fries_Font.woff") format("woff"),
         url("../font/McDonald's_Fries_Font.ttf") format("truetype");
}

textarea::placeholder {
    font-family: 'Courier New', Courier, monospace;
}